{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- DataTable CSS-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block content %}

<!-- Display list_all_qualities data -->
<h2>Data Quality Metrics:</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>qa_id</th>
            <th>type</th>
            <th>completeness</th>
            <th>uniqueness</th>
            <th>timeliness</th>
            <th>validity</th>
            <th>accuracy</th>
            <th>consistency</th>
            <th>openness</th>
            <th>downloadable</th>
            <th>metrics</th>
        </tr>
    </thead>
    <tbody>
        {% for qualitie in qualities %}
        <tr>
            <td>{{ qualitie.id }}</td>
            <td>{{ qualitie.type }}</td>
            <td>{{ qualitie.completeness }}</td>
            <td>{{ qualitie.uniqueness }}</td>
            <td>{{ qualitie.timeliness }}</td>
            <td>{{ qualitie.validity }}</td>
            <td>{{ qualitie.accuracy }}</td>
            <td>{{ qualitie.consistency }}</td>
            <td>{{ qualitie.openness }}</td>
            <td>{{ qualitie.downloadable }}</td>
            <td>{{ qualitie.metrics }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Pagination -->
<nav aria-label="Page navigation">
    <div>
        <!-- Pagination -->
        <ul class="pagination">
            {% if qualities.has_prev %}
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('list_all_qualities', page_num=qualities.prev_num) }}">Previous</a>
            </li>
            {% else %}
            <!-- If not, show a disabled 'Previous' button -->
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}

            {% for page in qualities.iter_pages() %}
            {% if page %}
            {% if page == qualities.page %}
            <li class="page-item active" aria-current="page"><span class="page-link">{{ page }}</span></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('list_all_qualities', page_num=page) }}">{{ page
                    }}</a>
            </li>
            {% endif %}
            {% else %}
            <li class="page-item disabled"><span class="page-link">...</span></li>
            {% endif %}
            {% endfor %}

            {% if qualities.has_next %}
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('list_all_qualities', page_num=qualities.next_num) }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}